<app-admin-side-bar></app-admin-side-bar>
<section class="main_content dashboard_part">
  <app-admin-nav-bar></app-admin-nav-bar>
  <div class="main_content_iner" style="margin-top: -30px">
    <div class="container-fluid plr_30 body_white_bg pt_30">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="white_box mb_30">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="modal-content cs_modal">
                  <div class="modal-header">
                    <h5 class="modal-title" style="margin-left: 29%">Thay đổi mật khẩu</h5>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="">
                        <input type="password" class="form-control" placeholder="Mật khẩu cũ"
                          formControlName="oldPassword">
                      </div>
                      <div>
                        <div>
                          <i style="color: red"> Vui lòng nhập mật khẩu cũ</i>
                        </div>
                      </div>
                      <br>
                      <div class="">
                        <input type="password" class="form-control" placeholder="Mật khẩu mới"
                          formControlName="password">
                      </div>
                      <div>
                        <div>
                          <i style="color: red"> Mật khẩu không được để trống</i>
                        </div>
                        <div>
                          <i style="color: red"> Mật khẩu phải có ít nhất 6 ký tự</i>
                        </div>
                        <div>
                          <i style="color: red"> Mật khẩu có tối đa 12 ký tự</i>
                        </div>
                      </div>
                      <br>
                      <div class="">
                        <input type="password" class="form-control" placeholder="Xác nhận mật khẩu mới"
                           formControlName="confirmPassword">
                      </div>
                      <div>
                        <div>
                          <i style="color: red"> Vui lòng nhập mật khẩu</i>
                        </div>
                        <div>
                          <i style="color: red">Mật khẩu nhập lại không đúng</i>
                        </div>
                      </div>
                      <button type="submit" class="btn_1 full_width text-center">
                        <i class="fa-solid fa-pen-to-square"></i>
                        Cập nhật
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_part">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="footer_iner text-center">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
